*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
build/
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.gradle
.idea
*.iml

build
/local.properties
/app/android/src/main/res/values/strings-local.xml
/business-foundation/business-core/buildMethods
gen/

*.swp
*.swo
buildMethods/
evaluate/
jdt2famix-import.problems
